*{
    margin:0;
    box-sizing: border-box;
    padding: 0;

}
body{
    padding: 10px;
    background-color: #EDEBDD;
    font-family: "Gill Sans", sans-serif;;

}
/*this is the formatting for the overall page border*/
#page-wrapper{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    /* mozilla --> docs/Web/CSS/Reference/Properties/border-radius*/
    border-radius: 30px;
    border-style: solid;
    border-color: #640606;
    border-width: 3px;
    /* mozilla --> docs/Web/CSS/Reference/Properties/outline*/
    outline:  solid #67312F73;
    /* mozilla --> docs/Web/CSS/Reference/Properties/box-shadow*/
    box-shadow: 0 12px 28px #000000;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
nav{
    width: 30%;
    background-color: #24201D;
    border-right-style: double;
    border-color: #640606;
    border-width: 6px;
}
nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}
nav li{
    border-radius: 30px;
    width: auto;
    background-color: #630000;
    margin: 20px auto;
    padding: 0;
}

nav a{
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 12px 16px;
    border-radius: 30px;
    font-size: calc(2px + 1.3vw);
    color: #EDEBDD;
    border-style: solid;
    border-width: 2px;
    border-color: #eDEBDD;
    font-weight: bold;
}


/* mozilla --> docs/Learn_web_development/Core/Text_styling/Styling_links*/
nav a:hover {
    background: #630000;
    box-shadow: 10px 5px 5px rgba(124, 122, 122, 0.35);
    color: #EDEBDD;
}

nav a:active {
    background: #630000;
    color: #EDEBDD;
}
main{
    height: 120vh;
    width: 70%;
    background-color: #EDEBDD;
    padding: 1%;
}
#introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(1px + 1vw);
    width: 95%;
    margin: 5% 0;
}

main h3{
    text-align: center;
    margin: 2% 0;
    font-size: calc(2px + 2vw);
    color: #630000;
}
#profile{
    max-width: 50%;
}
main p{
    text-align: center;
    color: #630000;
    font-size: calc(1px + 1.25vw);
}
#bottom-p{
    text-align: center;
    font-size: calc(2px + 1.5vw);
    font-weight: bold;
}
header{
    padding: 20px;
    background-color: #24201D;
    width: 100%;
    /* mozilla --> docs/Web/CSS/Reference/Properties/border-radius*/
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-style: double;
    border-color: #630000;
    border-width: 6px;
}

header h1{
    color: #EDEBDD;
    font-weight: bold;
}
header p{
    font-size: calc(1px + 1.25vw);
    color: #EDEBDD;
}


footer{
    padding: 1%;
    text-align: center;
    background-color: #24201D;
    width: 100%;
    margin: 0 auto;
    border-top-style: double;
    border-top-width: 6px;
    border-color: #630000;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    color: #EDEBDD;
}
footer a{
    color: #EDEBDD;
}

@media  screen and (max-width: 1000px) {
    #container{
        flex-direction: column;
    }

    nav, main{
        width: 100%;
        border: none;
    }
    nav{
        border-bottom: double;
        width: 100%;
        color: #630000;
        border-width: 6px;
    }


    main p{
        padding-left: 1%;
        font-weight: bolder;
    }
    nav ul{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav li{
        width: auto;
    }

    nav a{
        font-size: calc(1px + 1.5vw);
        width: 100%;
        padding: 7px 7px
    }


    #introduction{
        flex-direction: column;
        margin: 25px auto;
    }

    header{
        text-align: center;
    }

    main{
        height: 150vh;
    }
}

/*Here we make changes to the main pages of the rest of the nav*/
#pages-main-main{
    width:90%;
    padding: 5%;
    text-align: left;
    margin: 0 auto;
}
#pages-main h3{
    text-align: center;
    font-weight: bolder;
}
#pages-main p{
    text-align: justify;
    padding: 1%;
}
#pages-main ul{
    padding:  0 25px;
    margin: 10px 0 10px 0;
    list-style: circle;

}
#pages-main li{
    margin: 10px;
    color: #1e0404;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
}
#pages-main h3{
    text-align: center;

}

#projects-calc h3{
    text-align: center;
    font-weight: bold;
    font-size: calc(2px + 1.5vw);
}
#projects-calc label{
    text-align: center;
    display: block;
    margin: 0.75rem 0 0.35rem;
    font-weight: 600;
    color: #EDEBDD;
}
#projects-calc{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px 20px;
    border-style: solid;
    border-color: #630000;
    border-width: 4px;
    border-radius: 30px;
    background: #cc8a89;
    box-shadow: 0 12px 28px #000000;
}
#projects-calc input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
    border-style: dashed;
    border-color: #630000;
    border-width: 2px;
    background: rgb(248, 219, 219);
    outline: none;
}
#projects-calc button{
    margin: 5px;
    padding: 5px 1px;
    width: 15%;
    border-style: solid;
    border-radius: 30px;
    background: #F8DBDBFF;
    border-color: #630000;
    border-width: 2px;
    font-size: calc(1px + 1.25vw);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
/*mozilla --> docs/Web/CSS/Reference/Selectors/:hover */
#projects-calc button:hover{
    background: #630000;
    box-shadow: 10px 5px 5px #000000;
    color: #EDEBDD;
}